.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 20px;

  &__item {
    padding: 15px;
    cursor: pointer;
    margin: 0 5px;

    &_active {
      color: red;
    }
  }
}